@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', ui-sans-serif, sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #091921;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	border-radius: 50px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.calculator {
	position: relative;
	display: grid;
}

.value {
	grid-column: span 4;
	height: 100px;
	text-align: right;
	border: none;
	/* Bad design! Trouble when using keyboard */
	/* outline: none; */
	padding: 10px;
	font: 18px;
}

.num {
	display: grid;
	width: 60px;
	height: 60px;
	color: #fff;
	background: #0c2835;
	place-items: center;
	border: 1px solid rgba(0, 0, 0, .1);
}

.num:active {
	background: #74ff3b;
	color: #111;
}

.clear {
	grid-column: span 2;
	width: 120px;
	background-color: #ff3077;
}

.plus {
	grid-row: span 2;
	height: 120px;
}

.equal {
	background-color: #03b1ff;
}
